.Form {
    direction: rtl;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    button{
        color: white;
        border-color: #8F72C0;
        background-color: #8F72C0;
    }
}